@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700');
@import url('https://fonts.googleapis.com/css?family=Roboto:300i,400');

$coral: #f38181;
$yellow: #fce38a;
$light_blue: #eaffd0;
$blue: #95e1d3;
$dg: #333333;
$grey: #999999;
$lg: #f8f8f8;
$lg2: #f1f1f1;

* {
  	a:active, a:visited {color: inherit;text-decoration: none;}
	color:$dg;
	font-family: Montserrat, sans-serif;
	.container {padding: 0 7%; width: 100%;}
	h1, h2, h3 {
		font-family: Montserrat, sans-serif;
		font-weight: 700;
		text-transform: uppercase;
	}
	h2 {
		text-align: center;
		margin: 0 auto;
		color: $dg;
	}
	.text {color: $grey; text-align: center; padding: 10px 15% 50px 15%; font-family:Roboto, sans-serif; }
	p {color:$grey; font-family:Roboto, sans-serif;}
	a {color: inherit;}
	a:hover {text-decoration: none;color: inherit;}
	.line {margin: 35px auto; width: 50px; height: 2px; background: $coral;}
	.title {display: block; margin: 100px auto 25px auto;}
  .underline  { 
    margin: 0 auto;
    width: 0%;
    height: 3px;
    background:$yellow;}
  
  //Carousel
       .carousel  {
       margin: 50px auto;
       width:80vw;
     }
     .carousel-wrapper {
       margin: 10px 5vw; /* отступы для стрелок */
       overflow: hidden; /* скрываем содержимое, выходящее за рамки основной области */
       position:relative;
     }
     .carousel-items {
       width: 10000px; /* устанавливаем большую ширину для набора элементов */
       position: relative; /* позиционируем блок относительно основной области карусели */
  
     }
     .carousel-block {
       float: left; /* выстраиваем все элементы карусели в ряд */
       width: 70vw; /* задаём ширину каждого элемента */
       height: 100%;
       overflow: hidden;
       padding: 2vw; /* делаем оступы, чтобы элементы не сливались */

          .cite {
            display: block;
            .comment_cite { width:100%;}
            p {font-size: 1em; font-style: italic;}
            .line {display: inline-block; margin: 0;}
          }

     }
     
    /*********** BUTTONS ***********/
    .carousel-button-left, .carousel-button-right{
       width: 50px; 
       height: 50px; 
       position: relative;
       top: 50px; 
       cursor: pointer; 
       text-decoration:none;
      cursor: pointer;
     }
    .carousel-button-left {
       float: left; 
       background: url("img/arrow_down.png") no-repeat 50% 50%;
      transform: rotate(90deg) ;
     
    }
    .carousel-button-right {
       float: right; 
       background: url("img/arrow_down.png") no-repeat 50% 50%;
       transform: rotate(270deg) ;
      }
}

header {
	width: 100%;
	height: 100%;
	background: url("img/bg1.png") 50% 50% no-repeat;
	background-size: cover;
	padding: 10px auto;


		.navbar {
			background: none; border: none;
			
			.logo {width: 70px;}

		.navbar-right {
				li {
          font-family: Montserrat, sans-serif;
					text-transform: uppercase;
					a {color: white; padding-bottom: 5px;}
					a:hover {color:$yellow;}
				
          .underline  { 
            margin: 0 auto;
            width: 0%;
            height: 3px;
            background:$yellow;}
				}

				li:nth-child(6) {
					a {width:52px;}
					img { width: 20px}
				}
				li:nth-child(7) {
					a {width:52px;}
					img { width: 20px}
				}
			}
		}

		.h2 {margin: 150px auto 10px auto}
			img { width:25%; display: block;}

			h1 {
				margin: 0 auto 40px auto;
				text-align: center;
				width: 50%;
				font-size: 7em;
				color: white;
			}
		.line {background: white;}
		.button {
			display: block;
			text-align: center;
			width: 120px;
			height: 30px; 
			border: 3px solid white; 
			color: white; 
			margin: 50px auto;
			padding-top: 5px;
			text-transform: uppercase;
			font-size: 0.75em;
			font-family: Montserrat, sans-serif;
		}


		.points {
			margin: 100px auto 10px auto;
		.item {
				display: inline-block;
				width:20%;
				margin-right:4.5%;
				padding: 10px 0;
				color: white;
				font-family: Montserrat, sans-serif;
			 	border-top: 3px solid white;
      
          
			.number {
					display: inline-block;
					color: white;
					font-weight: 700;
					font-size: 1.4em;
					width: 20px;

				}
			a {	text-transform: uppercase; 	}
			
			}

		}
}

.about_us {
	margin-bottom: 60px;

 	.images {
	margin: 30px auto 60px auto;
    .column {padding:0; margin: 0 0.91%; width: 31.5%;}
    .img {  img {width: 100%;} }

 	}
}

.facts {
	background: $blue;
	padding-top: 60px;


	.col-md-2 {width: 20%;}

	.number {
		color: white;
		font-weight: 700;
		font-size: 4em;
		text-align: center;
		font-family: Montserrat, sans-serif;
	}
	.text {
		color: white;
		text-transform: uppercase;
		font-size: 0.7em;
    padding-bottom:30px;
	}
}

.service {
  padding-bottom: 20px;
	.item {
		display: inline-block;
		
		.description {
      margin-bottom: 50px;
			h3 {
				text-transform: uppercase;
				font-size: 0.75em;
				font-weight: 700;
        margin-top:0;
			}
		}
	}
}

.features {
	background: url(img/bg2.png)  no-repeat;
  background-size:cover;
  .ipad {text-align: center;}
  .iphone {
    position: absolute;
    margin-top:-370px;
    padding-left: 52%;
    
  }
}

.service2  {
   padding-bottom: 100px;
  .img  {img {width: 100%;}}
  
  .title_panel {
    padding: 10px 0;
    border: 2px solid $lg2;
    .container {padding:0; width: 100%;}
    h4 {text-transform: uppercase; font-size: 1em;}
    .button {float: right; padding: 10px 0; cursor: pointer; transition: all 0.5s ease-out;}
   }
  .content {
    display:none;
    font-size: 0.95em;
    font-family: Roboto, sans-serif;
    font-style: italic;
    padding: 15px 35px 15px 15px;
    border: 2px solid $lg2;
    margin-top: -2px;
    overflow: auto;
    height: 150px;
    
   

  }
  .active {display: block;}
  .rotate { transform: rotate(-180deg);}

//scroll

::-webkit-scrollbar-track { 
background-color:$lg; 
} 

::-webkit-scrollbar-thumb { 
  border-radius: 5px;
  background-color:$blue; 
} 

::-webkit-scrollbar{ 
width: 7px; 

}
//scroll end
}

.quote {
  background: $lg;
 }

.team {
  padding-bottom: 60px;
  
  	.members {
	margin: 30px auto 60px auto;
    .column {padding:0; margin: 0 0.91%; width: 31.5%;}
    .img {  img {width: 100%;} }

}
}

.logos {
  background: $lg; padding: 60px 0;
}

.works {
   .photo {padding: 0; margin:0; width:100% }
  .column {
    padding: 0;

    img {
      width:100%;
    }
  }
}

.quote2{

}

.clients {
  padding-bottom:30px;
  background: url(img/bg2.png)  no-repeat;
  background-size: cover;
  .container {padding-bottom: 50px;}
  .line2 {margin:0 0 20px 0;}
  h3 {font-size:1em; margin-top:0;}
  .about {
    padding-left: 40px;
  }
  .cite {font-style:italic;}
  
}

.blog  {
  padding-bottom: 60px;
  h3 {font-size:1em;}
  .blog_img {
    img {width:100%; z-index:1}
   }
    .date {
      z-index:10;
      position: absolute; top: 38%; left: 5px;
      padding-top:3px;
      width: 60px; height: 60px;
      background: $blue;
      .day, .month {text-align:center; color: white; font-weight: 700;text-transform: uppercase}
      .day {font-size: 1.5em;}
    }
 
  p {padding-right: 30px;font-size: 0.8em;}
  .blog_item {
    .view, .comment { display:inline-block; img,p {display:inline-block}}
  }
}

.map {
  height: 200px;
  background: url("img/map.jpg") no-repeat 50% 10%;
  background-size:cover;
  opacity: 0.3;

}
.open-map {
  position: absolute;
  text-align: center;
  h3 {color:$coral;font-size:1.3em; margin: 15px auto;}
  margin: -140px 44vw;
  .line  {margin: 15px auto;}
}

footer {
  background: $lg;
  padding:60px 0 0 0;
  .text {text-align: left; padding:0; }
  .logo {padding-bottom: 20px}
  
  .followers {text-transform: uppercase;margin: 25px 0 15px 0; font-size: 1em;}
  .social {
    padding-top: 20px;
    border-top: 1px solid $grey;
    p {display: inline-block; }
    img {display:inline-block; margin: 0 5px;}
  }
  
  h3 {text-transform: none; margin: 0 0 20px 0;}
  h4 {font-size: 1em; }
  
  .blog_container {padding:0; margin: 15px 0;}
  .blog_img {
    padding:0;
    margin:0;
    img {width:100%}
  }
  .blog_info {
    h5 {font-size: 0.75em; margin: 0; text-transform: uppercase}
    .date {font-size: 0.85em; color: $grey; margin: 10px 0}
  }
  
  .instagram {
    .insta_container {}
    .column {padding:0;margin:0; img {width:100%;}}
  }
  
  .end {margin: 50px auto 15px auto;text-align:center; font-size: 0.8em; border-top: 1px solid $grey; padding-top:15px;}
}



/////////////////////////////////////////
////////////////////////////////////////
/* Media queries */
////////////////////////////////////////
///////////////////////////////////////


/*PHONE*/
@media all and (max-width:767px) {
 
  header {
    .navbar-default {
      .navbar-toggle{
        border-color: white;
        border-radius: 30px;
        padding: 8.5px;
        width: 40px;
        height:40px;
        margin-right:0;
        .icon-bar {
          background: white;
        }
      
      }}
    
    img {width:70%;}
    h1 {font-size: 4em; width:90%}
    .points{ .item {width:22%;font-size:0.65em; margin-right:2%;.number{width:10px;}}}
  }
  .about_us {
    .images{.column{.hover{display:none;}}}
  }
   .facts {
     .number{font-size:2em;} .text {text-align:center;padding-left:0;padding-right:0;}
  }
  .features {
   
    .ipad {width:100%;img {width: inherit;}}
    .iphone {display:none;}
  }
  .team {
    .members {.column {width:100%; img {margin: 10px auto;}} }
  }
  .logos {
    img {margin: 10px auto; text-align:center;display:block;}
  }
  .clients {
    .photo {img {width: 20vw;}}
  }
  .blog {
    .date {top:0; left:0;}
  }
  .service2{
    .col-xs-9{width:70%} .col-xs-1 {padding: 2px;}}
  
}

/*TABLETS*/
    @media all and (min-width:768px) and (max-width:991px){

   header {
    img {width:70%;}
    h1 {font-size: 6em; width:90%}
    }
   .service2{
     .col-sm-9 {width:74%;}
     .col-sm-1 {padding:0 5px;}
      }
   footer {
   .social {
        p {display:block;}
        a {img {margin: 0 3px;}}
        }}
   .logos {
    img {margin: 10px auto; text-align:center;display:block;}
  }
  }


/*MEDIUM DEVICE*/
@media all and (min-width:992px) and (max-width:1200px) {
  .container { width: 100%;}

}

/*LARGE DEVICE*/
@media all and (min-width:1201px) {
  .container {width: 95%;}
}
